<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="bl_txn_centrelise bl_customized_txn">
        <div id="bl_login_title"><h2>Please Identify Yourself</h2> </div>
        <a submit="true" bind="OverrideId"></a>
        <div id="bl_user_icon">
            <img alt="Unknown User Photo" src="Images/User_Photo.fw.png" />
        </div>
        <div id="bl_login">
            <div id="bl_login_option">
                <ul class="bl_tab_list">
                    <li class="bl_tab bl_tab_selected"> Password </li>
                    <li class="bl_tab"> Finger Print </li>
                    <li class="bl_tab"> Token </li>
                    <p><b></b></p>
                </ul>
            </div>
            <div id="bl_login_pages">
                <div id="bl_login_password">
                    <form id="login_1">
                        <p>
                            <label>Input Your Emplyee ID</label>
                            <input class="required digit minlen:5" name="UserID" />
                        </p>
                        <p>
                            <label>Password</label>
                            <input class="required" type="password" name="Passo" />
                        </p>
                        <p class="bl_control">
                            <button type="button" bind="AuthButton" onclick="$.Client.SendTransaction()">Login</button>
                        </p>
                    </form>
                </div>
                <div id="bl_login_finger_print" class="hidden">
                    <p>
                        <img alt="Finger Print" src="Images/Finger_Print.fw.png" />
                    </p>
                    <p> &nbsp; </p>
                    <p> <span>Try Finger Print</span> </p>
                </div>
                <div id="bl_login_token" class="hidden">
                    <!--
                    <p>
                        <iframe class="LoginToken hidden" src="http://BLSSO/Views/LoginToken.html"></iframe>
                    </p>
                    -->
                    <form id="login_3">
                        <input name="LoginToken" />
                        <p class="bl_control">
                            <button name="login_btn_3" type="button" bind="AuthButton" onclick="$.Client.SendTransaction()">Login</button>
                        </p>
                    </form>
                    <p> &nbsp; </p>
                </div>
            </div>
            <div class="bl_status_bar hidden">
                <div class="bl_status_img"><img src="../Images/Icon_Error.fw.png" /></div>
                <div class="bl_status_info">
                    <div class="bl_status_source">Source : <a class="status_source">Bancslink Server</a></div>
                    <div class="bl_status_errcode">Err(<a class="status_code">501</a>) : </div>
                    <div class="bl_status_message"><a class="status_message">Invalid User Id</a></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var Action009001 = function () { };
        Action009001.prototype.Ready = function (Container, WorkflowObject) {
            try {
                var Enable = WorkflowObject.FlowData.UserData.Parameter.SSOSetting.Enable;
                var Url = WorkflowObject.FlowData.UserData.Parameter.SSOSetting.Url;
                var Page = WorkflowObject.FlowData.UserData.Parameter.SSOSetting.LoginTokenPage;

                if (Enable != true) return;
            } catch (e) {
                return;
            }

            var state = 0;
            var iframe = document.createElement('iframe');
            iframe.src = Url + Page;

            $(iframe).addClass("hidden");

            $(iframe).on("load", function () {
                if (state === 1) {
                    var data = iframe.contentWindow.name;    // 读取数据
                    if (data) {
                        $(Container).find("[name='LoginToken']").val(data);
                        iframe.contentWindow.document.write('');
                        iframe.contentWindow.close();
                        var btn = $(Container).find("[name='login_btn_3']")[0];
                        window.setTimeout(function () {
                            btn.click();
                        }, 1000)
                        
                        $(iframe).remove();
                    }
                } else if (state === 0) {
                    state = 1;
                    iframe.contentWindow.location = "Views/Proxy.html";    // 设置的代理文件
                }
            });
            $(Container).find("#bl_login_token").append(iframe);
            //document.body.appendChild(iframe);
        }
    </script>
</body>
</html>
