<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script>
        var ActionCaculator = function () { };
        ActionCaculator.prototype.Ready = function (Container) {
            var MenuBar = $(Container).parent().find(".bl_dialog_title img")[0];
            $(MenuBar).on("click", function () {
                $(Container).find(".CaculatorMenu").removeClass("hidden").addClass("fadeIn animated");
            })

            $(Container).find(".CaculatorMenu ul li").on("click", function () {
                $(Container).find(".CaculatorMenu").addClass("hidden");
            })

            $(Container).find(".CaculatorMenu ul li:eq(1)").on("click", function () {
                $(Container).find(".function1").removeClass("hidden");
                $(Container).find(".function2").addClass("hidden");
            })

            $(Container).find(".CaculatorMenu ul li:eq(2)").on("click", function () {
                $(Container).find(".function2").removeClass("hidden");
                $(Container).find(".function1").addClass("hidden");
            })
        }
    </script>
</head>
<body>
    <div class="Caculator bl_txn" style="width: 380px; padding-bottom: 20px">
        <div class="CaculatorMenu hidden" style="position:absolute; margin-top: -50px; text-align: left;">
            <ul style="width: 400px; color: black; margin-left: -10px; margin-top: -10px;">
                <li style="border-bottom: 1px solid #cccccc; height:40px; line-height: 40px; padding-left: 10px"><img src="Images/Menu.fw.png" /> Menu</li>
                <li style="border-bottom: 1px solid #cccccc; height:40px; line-height: 40px; padding-left: 10px"><img style="width:16px; height:16px" src="Images/Icon_Txn.fw.png" /> 定期存款收益试算</li>
                <li style="border-bottom: 1px solid #cccccc; height:40px; line-height: 40px; padding-left: 10px"><img style="width:16px; height:16px" src="Images/Icon_Txn.fw.png" /> 标准计算器</li>
                <li style="border-bottom: 1px solid #cccccc; height:40px; line-height: 40px; padding-left: 10px"><img style="width:16px; height:16px" src="Images/Icon_Txn.fw.png" /> 贷款计算器</li>
            </ul>
        </div>
        <div class="function1 hidden">
            <h2>定期存款收益试算</h2>
            <table class="txn_table">
                <tr>
                    <td style="width: 100px">账号</td>
                    <td><input class="account" value="20602000000751" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button style="width: 250px;" class="bl_transmit_button">计算</button></td>
                </tr>
                <tr>
                    <td>币种</td>
                    <td><input class="amount" value="TWD" /></td>
                </tr>
                <tr>
                    <td>当前余额</td>
                    <td><input class="amount" value="30,033.00" /></td>
                </tr>
                <tr>
                    <td>当前收益</td>
                    <td><input class="amount" value="2893.84" /></td>
                </tr>
                <tr>
                    <td>剩余期数</td>
                    <td><input value="24" style="width:240px;" /></td>
                </tr>
                <tr>
                    <td>月存款额</td>
                    <td><input class="amount" value="8,000" /></td>
                </tr>
                <tr>
                    <td>预期收益</td>
                    <td><input class="amount" value="13,303.00" /></td>
                </tr>
            </table>
        </div>
        <div class="function2">
            <div style="margin: 5px; padding: 5px; border: 1px solid #aaaaaa; background-color: white; line-height: 50px; height: 50px; text-align: right; font-size: 28px">
                0
            </div>
            <br />

            <table class="txn_table" style="font-family: Tahoma; font-size: 10pt; font-weight: bold; width: 100%">
                <tr>
                    <td style="width: 25%">%</td>
                    <td style="width: 25%">√</td>
                    <td style="width: 25%">x</td>
                    <td style="width: 25%">1/x</td>
                </tr>
                <tr>
                    <td>CE</td>
                    <td>C</td>
                    <td>←</td>
                    <td>÷</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>X</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td>±</td>
                    <td>0</td>
                    <td>.</td>
                    <td>=</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
