<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
            <table>
                <tr>
                    <th style="display:none"></th>
                    <th>Journal Id</th>
                    <th>Action</th>
                    <th>Txn Code</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Error Code</th>
                    <th>Error Description</th>
                    <th></th>
                    <th>System Date</th>
                </tr>
                <tr bind="JournalItems">
                    <td style="display:none" bind-item="ReversalTxn"></td>
                    <td bind-item="JournalId"></td>
                    <td></td>
                    <td bind-item="TxnCode"></td>
                    <td bind-item="Title"></td>
                    <td bind-item="StatusDescription"></td>
                    <td bind-item="ErrCode"></td>
                    <td bind-item="ErrDescription"></td>
                    <td bind-item="HostName"></td>
                    <td bind-item="SystemDate"></td>
                </tr>
            </table>
</body>
</html>
