<!DOCTYPE html>
<html>   
	<body>
	<div style="margin: -10px;">
		<h1 style="padding: 10px; height: 50px; background-image: linear-gradient(to top, white, rgb(247, 245, 225));">
            Original Transactions(No.<a bind="JournalId"></a>)<br />
        </h1>
       
		<hr />
		<div class="original_txn"></div>
		<div style="padding: 10px">
			<img bind="TxnStatusIcon" style="height: 22px; width: 30px" src="Images/Icon_OK.fw.png" /> <a bind="ErrCode"></a> :  <a bind="ErrDescription">Successful</a><br /><br />
            <button style="border: 1px solid rgb(0, 117, 196); border-image: none; width: 130px; height: 34px; color: rgb(0, 117, 196); background-color: white;">Reprint</button>
            <button style="border: 1px solid rgb(0, 117, 196); border-image: none; width: 130px; height: 34px; color: rgb(0, 117, 196); background-color: white;">Correction</button>
            <button style="border: 1px solid rgb(0, 117, 196); border-image: none; width: 130px; height: 34px; color: rgb(0, 117, 196); background-color: white;">Change Status</button>
            <button style="border: 1px solid rgb(0, 117, 196); border-image: none; width: 130px; height: 34px; color: rgb(0, 117, 196); background-color: white;">Update Cashdrawer</button>
		</div>
		<br /><br />
		<h2><img src="Images/Icon_Txn.fw.png" />Accessories</h2>
		<hr />
		<p style="padding: 10px;">N/A</p>
		<br />
        <h2 class="related_txn_btn" style="cursor: pointer"><img src="Images/Icon_Txn.fw.png" />Related Transactions <img class="related_txn_img" style="width:16px" src="Images/Icon_Expander.fw.png" /></h2>
        <hr />
        <div style="padding: 10px; width: 95%" class="related_txn hidden"></div>
        <br /><br />
		<h2><img src="Images/Icon_Txn.fw.png" />Overrides</h2>
		<hr />
        <div style="padding: 10px;">
            Override Id : <span bind="OverrideId"></span>
            <div class="override_details"></div>
        </div>
        <br />

	</div>
		<script>
		var Action099998 = function () { };
		Action099998.prototype.PageInit = function (Container, WorkflowObject) {
			var HostData = WorkflowObject.FlowData.UserData.HostData;
			HostData.TxnStatusIcon = "Images/Icon_OK.fw.png"
			if (HostData.ErrCode != "0") {
			    HostData.TxnStatusIcon = "Images/Icon_Error.fw.png"
			}
        }
			
		Action099998.prototype.Ready = function (Container, WorkflowObject) {
		    var FlowObject = new WorkflowDataObject($(Container).find(".original_txn")[0]);
		    FlowObject.FlowData.UserData.ScreenData.JournalId = WorkflowObject.FlowData.UserData.HostData.JournalId;

		    $.Workflow.HostQuery(FlowObject, '999991', null, 0, function (FlowObject1) {
		        var data = FlowObject1.FlowData.UserData.HostData.PageData;
		        var array = new Uint8Array(data.length / 2);
		        for (var i = 0; i <= data.length; i += 2) {
		            var hex = "0x" + data[i] + data[i + 1];
		            var byte = String.fromCharCode(hex).charCodeAt(0);
		            array[i / 2] = byte;
		        }
                
		        //var b = new Blob(["foobarbazetcetc" + "birdiebirdieboo"], { type: "text/plain;charset=UTF-8" });
		        var blob = new Blob([array]);

		        // use a BlobReader to read the zip from a Blob object
		        zip.createReader(new zip.BlobReader(blob), function (reader) {

		            // get all entries from the zip
		            reader.getEntries(function (entries) {
		                if (entries.length) {

		                    // get first entry content as text
		                    entries[0].getData(new zip.TextWriter(), function (text) {
		                        // text contains the entry data as a String
		                        $(Container).find(".original_txn").html(text);
		                        $.each($(Container).find(".original_txn :input"), function (idx, item) {
		                            $(this)[0].disabled = true;
		                            var Data = FlowObject1.FlowData.UserData.HostData[$(this).attr("name")];
		                            if (Data) { $(this).val(Data) }
		                        });

		                        // close the zip reader
		                        reader.close(function () {
		                            // onclose callback
		                        });

		                    }, function (current, total) {
		                        // onprogress callback
		                    });
		                }
		            });
		        }, function (error) {
		            // onerror callback
		        });
		    });

		    if (WorkflowObject.FlowData.UserData.HostData.OverrideId) {
		        $.Workflow.PageQuery(new WorkflowDataObject($(Container).find(".override_details")[0]), '999990', 'OverrideDetails', { OverrideId: WorkflowObject.FlowData.UserData.HostData.OverrideId }, 0, 'Loading Override Details')
		    } else {
		        $(Container).find(".override_details").html("N/A");
		    }

		    $(Container).find(".related_txn_btn").one("click", function () {
		        $.Workflow.PageQuery(new WorkflowDataObject($(Container).find(".related_txn")[0]), '099999', 'RelatedTxn', { GroupId: WorkflowObject.FlowData.UserData.HostData.GroupId, OriginalUser: WorkflowObject.FlowData.UserData.HostData.OriginalUser }, 0, 'Loading Related Transactions', function (FObject) {
		            $.each($(Container).find(".related_txn table tr"), function(idx, item) {
		                var ReversalTxn = $(this).find("td:eq(0)").html();
		                if (ReversalTxn) $(this).find("td:eq(2)").html("<button>Correction</button>");
		            })
		        })
		    });

		    var Opened = false;
		    $(Container).find(".related_txn_btn").on("click", function () {
		        $(Container).find(".related_txn").toggle("slow");
		        if (Opened == false) {
		            $(Container).find(".related_txn_img").attr("src", "Images/Icon_Expander_Op.fw.png")
		            Opened = true;
		        } else {
		            $(Container).find(".related_txn_img").attr("src", "Images/Icon_Expander.fw.png")
		            Opened = false;
		        }
		    });
		    
		}
		</script>
    </body>
</html>