<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="sup_override_required bl_txn">
        <form>
            <button class="close_button" type="button"><img src="Images/Close_Button.fw.png" /></button>
            <div>
                <img src="Images/Icon_Sup.png" />
                <h2>SUPERVISOR OVERRIDE REQUIRED</h2><br /><br />
                <p>
                    <label>The supervisor override reason are listed in following</label>(<a submit="true" bind="OverrideId"></a>)
                </p>
            </div>
            <table class="">
                <tr>
                    <th>Reason Code</th>
                    <th>Description</th>
                    <th>Capability</th>
                    <th>Business Group</th>
                    <th>Authroized</th>
                </tr>
                <tr bind="OverrideDetails">
                    <td bind-item="OverrideCode"></td>
                    <td bind-item="OverrideDescription"></td>
                    <td bind-item="Capability">9</td>
                    <td bind-item="SupervisorGroup"></td>
                    <td bind-item="Authorized"></td>
                </tr>
            </table>
            <p class="bl_control">
                <button type="button" action="Local" onclick="$.Client.SendTransaction()">Local</button>
                <button type="button" onclick="">Remote</button>
            </p>
        </form>
	</div>
</body>
</html>
