<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div style="width:450px; height: 650px;">
        <form>
            <p>Bancslink SSO Authentication Services</p>
            <br />
            Override : <a submit="true" bind="OverrideId"></a>
            <input class="hidden" name="TokenId" />
            <iframe style="width: 450px; height: 600px; border: 0px" />
            <button class="hidden" type="button" onclick="$.Client.SendTransaction();"></button>
        </form>
    </div>
    <script>
        var ActionSSOAuthroize = function () { };
        ActionSSOAuthroize.prototype.Ready = function (Container, WorkflowObject) {
            var Url = WorkflowObject.FlowData.UserData.Parameter.SSOSetting.Url;
            var Page = WorkflowObject.FlowData.UserData.Parameter.SSOSetting.UserAuthPage;
            $(Container).find("iframe").attr("src", Url + Page);
            $(Container).find(".close_button").on("click", function () {
                $(window).off("message");
            });

            WorkflowObject.FlowData.UserData.ScreenData.PageData = "";
            $(window).on("message", function () {
                $(window).off("message");
                $(Container).find("[name='TokenId']").val(event.data.UserToken)
                // Close Myself
                $(Container).find("iframe")[0].contentWindow.close();
                //ClosePage($(Container).attr("id").split("_")[1]);
                $.Client.SendTransaction($(Container).find("button")[0]);
            })
        }
    </script>
</body>
</html>
