body, ul, li, table, tr, td, h1, h2, p, div, section {
    margin: 0px;
    padding: 0px;
}

hr {
    display: block;
}

label {
    display: inline-block;
}

body {
    font-family: Gotham, 'Ping Fang', 'Heiti SC', 'Helvetica', 'Source Han Sans CN';
    font-size: 9pt;
    font-weight: 100;
    background-image: url(../Images/Background.fw.png);
    height: 100%;
}

h1 {
    font-size: 20pt;
    font-weight: lighter;
}

ul {
    list-style: none;
}

li.bl_tab {
    float: left;
    width: 102.5px;
    border-bottom: 4px solid #94A3D8;
    height: 25px;
    margin: 2px;
    color: #888888;
    cursor: pointer;
    list-style-type: none;
    list-style-image: url('../Images/fake.png');
}

li.bl_tab:hover {
    color: black;
}

li.bl_tab_selected {
    color: black;
}

h2 {
    font-size: 16pt;
    font-weight: 100;
}

img {
    vertical-align: middle;
}

header {
    height: 100px;
    background-image: url(../Images/Header_Background.fw.png);
    background-size: 100% 100%;
    font-size: 9pt;
    position: fixed;
    top: 0px;
    width: 100%;
}

@-webkit-keyframes bl_header_login {
    50% {
        height: 42px;
    }
    100% {
        height: 42px;
        background-color: black;
        opacity: 0.9;
        color: white;
    }
}

@keyframes bl_header_login {
    50% {
        height: 42px;
    }
    100% {
        height: 42px;
        background-color: black;
        opacity: 0.9;
        color: white;
    }
}

.bl_header_login {
    -webkit-animation-name: bl_header_login;
    -moz-animation-name: bl_header_login;
    animation-name: bl_header_login;
    background-image: none;
}

.bl_header_login .bl_main_logo {
    display: none;
}

.bl_header_login #bl_system {
    position: absolute;
    left: 130px;
}

.bl_header_login #bl_system img {
    display: none;
}

.bl_header_login #bl_user_info {
    display: block;
}

.bl_header_login #bl_seprator {
    display: inline;
}

#bl_logo {
    width: 290px;
    float: left;
    position: absolute;
    padding: 12px;
}

#bl_toolbar {
    float: right;
    text-align: right;
    position: fixed;
    right: 0;
}

#bl_system {
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
}

#bl_sys_name {
    text-align: center;
}

body {
    height: 100%;
}

#bl_logo_image_small {
    margin-left: 2px;
}

#bl_main_logo {
    width: 100%;
    position: absolute;
    text-align: center;
}

#bl_container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.bl_txn_centrelise {
    width: 320px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.bl_txn {
    padding: 10px;
    padding-bottom: 50px;
    overflow-x: auto;
}

.no-padding {
    padding-bottom: 10px;
}

#bl_nav.mobile .bl_search_area_3 {
    width: 40px;
}

#bl_nav.mobile .bl_search_area_3 span{
    display: none;
}

#bl_nav.mobile .bl_search_area_3 img{
    -moz-transform:scale(-1£¬1);-webkit-transform:scale(-1£¬1);-o-transform:scale(-1£¬1);transform:scale(-1£¬1);filter:FlipH; 
}

.bl_tips_list li {
    list-style-image: url("../Images/Icon_Txn.fw.png");
}

.bl_tips_list {
    margin-left: 30px;
}

.bl_txn h1 {
    font-size: 20pt;
    height: 70px;
}

.bl_user_details table {
    border-bottom: none;
}

.bl_txn table tr {
    height: 38px;
}

.txn_table {
    border-bottom: none;
}

.txn_table tr td {
    padding: 5px;
    padding-right: 5px;
}

.bl_txn .data_table tr:nth-child(2n+1){
    background-color: #eeeeee;
}

.bl_txn table tr td:nth-child(2n){
    padding-right: 50px;
}

.bl_txn .data_table tr td:nth-child(2n) {
    padding: 5px;
    padding-right: 5px;
}

.bl_txn .data_table tr:hover {
    background-color: #f7f5e1;
    cursor: pointer;
}

.bl_txn .account {
    width: 240px;
    float: left;
}

.bl_txn .amount {
    width: 240px;
}

.bl_txn currency {
    width: 100px;
}

#bl_search_area {
    background-color: #005C99;
    width: 100%;
    height: 42px;
    position: fixed;
    top: 42px;
    color: #eeeeee;
    font-size: 9pt;
}

#bl_search_area input {
    background-color: #0D4B7C;
    border: 0px;
    width: 170px;
    color: #aaaaaa;
    font-size: 9pt;
}

#bl_search_area input:focus {
    background-color: #0D4B7C;
    border: 0px;
    box-shadow: 0px 0px 0px #0D4B7C;
}

#bl_search_area input:-ms-input-placeholder {
    color: #666666;
    font-size: 8pt;
}

.bl_search_result {
    top: 84px; width: 300px; 
    color: rgb(187, 187, 187);
    position: absolute; 
    background-color: #0D4B7C;
    opacity: 0.9;
}

.bl_search_result .norecord {
    background-color: #940404;
    text-align: center;
}

.bl_search_result ul li {
    height: 42px; line-height: 42px; padding-left: 10px;
    cursor: pointer;
}
.bl_search_result .selected {
    background-color: #005C99;
}

.bl_search_result ul li:hover {
    background-color: #005C99;
}

.bl_search_area_1 {
    background-color: #0D4B7C;
    width: 300px;
    float: left;
    height: 100%;
}

#bl_search_area span {
    display: inline-block;
    padding: 15px;
    padding-left: 15px;
    padding-right: 5px;
}

.bl_search_area_2 {
    display: block;
    padding: 12px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 0px;
}

.bl_search_area_3 {
    height: 100%;
    color: #222222;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    background-color: #E9F2FC;
}

#bl_txn_tabs {
    /* Initilise */
    width: 300px;
    height: 100%;
    float: left;
    position: fixed;
    margin-top: 84px;
    background-color: #eeeeee;
    opacity: 0.95;
}

#bl_txn_tabs img {
    width: 18px;
    height: 18px;
}

#bl_txn_tabs ul li, #bl_txn_seperator {
    line-height: 42px;
    padding-left: 20px;
    font-size: 8.5pt;
    border-bottom: 1px solid #e0e0e0;
    width: 280px;
}

#bl_txn_tabs ul li:hover {
    background-image: linear-gradient(to right, #white, white); /* Firefox */ 
    background-color: white;
    cursor: pointer;
}

#bl_txn_seperator {
    background-image: url("../Images/Sep_Background.fw.png");
    font-weight: bold;
}

#bl_txn_tabs img {
    padding-right: 10px;
}

.bl_search_area_3 span {
    font-weight: bold;
}

.bl_btn_close_tab {
    padding: 10px;
    float: right;
}

#bl_txn_tabs .tab_selected {
    background-color: white;
}

.bl_search_area_3 img {
    display: inline-block;
    width: 42px;
    height: 42px;
    float: left;
}

#bl_txn_tabs {
    /*background-color: #f0f0f0;*/
}

#bl_notification {
    width: 300px;
    height: 100%;
    right: 0px;
    position: fixed;
    margin-top: 84px;
    background-color: #f0f0f0;
    opacity: 0.95;
}

#notification_summary li {
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    color: rgb(238, 238, 238);
}

#notification_summary li label {
    text-align: center; display: block;
}

#bl_transactions {
    margin-top: 140px;
    /* Change the left position after nav section is displayed*/
    /* margin-left: 340px; */
}

#bl_transactions.bl_transactions_login {
    margin-left: 300px;
    margin-top: 85px;
    padding-right: 300px;
}

#bl_transactions.bl_transactions_login.mobile {
    padding-right: 0px;
}

#bl_chatting {
    padding: 4px;
    /*
    border-bottom: 1px solid #e0e0e0;*/
}


.calender_header img {
    width: 12px;
    height: 14px;
    padding: 5px;
    padding-bottom: 5px;
}

#bl_calender {
    
}

#bl_calender table {
    background-color: white;
    width: 100%;
    text-align: center;
    border-spacing: 0px 0px;
    border: 1px solid #eeeeee;
}

.calender_day tr td, .calender_day tr th {
    text-align: center;
    height: 28px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    width: 46px;
}

.calender_day tr td:hover {
    background-color: #f7f5e1;
    cursor: pointer;
    color: #444444;
}

.calender_reminder span {
    color: #de4646;
}

#bl_notify_items .title_icon {
    width: 24px;
    padding: 5px;
    padding-top: 10px;
}

#bl_notify_items .bl_notify_title {
    background-color: white;
    margin-left: 1px;
    background-image: url("../Images/Icon_Expander.fw.png");
    background-repeat: no-repeat;
    background-position-y: 12px;
    background-position-x: 270px;
    background-size: 16px;
    cursor: pointer;
}

#bl_notify_items .bl_notify_title.expended {
    background-color: #f0f0f0;
    background-image: url("../Images/Icon_Expander_Op.fw.png");
}

#bl_notify_items ul li {
    padding-left: 0px;
    font-size: 9pt;
    background-color: #f0f0f0;
    list-style-image: url('Images/fake.png');
    border-bottom: 1px solid #f0f0f0;
}

#bl_notify_items .notification_count {
    display: inline-block;
    border-radius: 10px 10px;
    background-color: #de4646;
    height: 7px;
    font-size: 7pt;
    color: white;
    width: 7px;
    line-height: 7px;
}

.notification_count {
    display: inline-block;
    width: 14px;
    border-radius: 14px 14px;
    background-color: #de4646;
    line-height: 14px;
    font-size: 7pt;
    color: white;
}

.notification_count a {

}

#bl_notify_items .expendall img {
    width: 12px;
    margin-left: 5px;
}

#bl_notify_items .expendall {
    text-align: center;
    font-size: 8.5px;
}

#bl_notify_items ul li a {
    padding: 2px;
}

#bl_notify_items ul li ul li:first-child {
     border-top: 1px solid #dddddd;
}

#bl_notify_items ul li ul li:last-child {
     border-bottom: 1px solid #dddddd;
}

#bl_notify_items ul li ul li {
    padding: 3px;
    padding-right: 0px;
    font-size: 8.5pt;
    background-color: #f8f8f8;
}

#bl_notify_items ul li ul li:nth-child(2n+1) {
    background-color: #f0f0f0;
}

#bl_chatting {
}

#bl_notify_items ul li div {
    padding: 4px;
}

#bl_chatting_area ul li .bl_chatting_user_icon, #bl_chatting_area ul li .bl_chatting_user_name {
    float: left;
    display: block;
    width: 50px;
    text-align: center;
    color: #666666;
}

#bl_chatting_area ul li .bl_chatting_message{
    float: right;
    background-color: #FFFFBF;
    border: 1px solid #aaaaaa;
    width: 220px;
    border-radius: 4px 4px;
}

#bl_chatting_area ul li .bl_chatting_aarow {
    position: relative;
    top: 8px;
    left: 7px;
}

.bl_chatting_message_date {
    color: #888888;
    padding: 6px;
    font-size: 8pt;
}

.bl_chatting_message_content {
    padding: 6px;
    padding-bottom: 15px;
}
#bl_chatting_area ul li .bl_chatting_aarow img {
    width: 14px;
    height: 14px;
}


.bl_chatting_user_icon img {
    width: 35px;
    height: 50px;
}

.bl_notify_item_author, .bl_notify_item_date {
    text-align: right;
    width: 85px;
    display: inline-block;
    right: 0px;
    font-size: 8pt;
}

.bl_notify_item_date {
    color: #888888;
}

.bl_notify_item_desc, .bl_notify_item_header {
    float: left;
    width: 195px;
    display: inline-block;
}

.bl_notify_item_header {
    font-weight: bold;
}

.calender_remark {
    background-image: url("../Images/Icon_Remark.fw.png")
}

.calender_today {
    background-color: #005C99;
    color: white;
}

.calender_today span {
    color: #f7f5e1;
}

.calender_day tr td:hover span {
    color: #444444;
}

#bl_calender .calender_header {
    font-size: 14pt;
    font-weight: 100;
    color: #444444;
    padding: 10px;
}

#bl_corp_info {
    position: relative;
    width: 500px; 
    margin-left: auto; 
    margin-right: auto;
}

#bl_login {
    width: 320px;
}

#bl_user_icon {
    height: 120px;
}

#bl_login_option {
    height: 50px;
}

#bl_login_title {
    padding-top: 30px;
    height: 50px;
}

footer {
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
    font-size: 8pt;
    width: 100%;
    border-top: 1px solid #cccccc;
    overflow:hidden;
    box-shadow: 0px 0px 10px #dddddd;
    z-index: 98;
}

#bl_footer_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    z-index: 98;
}

#bl_group_info {
    position: relative;
    padding: 10px;
    z-index: 99;
    color: #888888;
}

#bl_tcs_logo {
    position: relative;
    float: left;
    text-align: right;
    padding: 8px;
    z-index: 99;
}

#bl_tcs_logo img {
    height: 39px;
    width: 44px;
}

#bl_login_pages {
    margin-top: 10px;
}

footer p {
    padding: 2px;
}

.bl_tab_list {
    font-size: 10pt;
}

.bl_tab_list p {
    position: relative;
    width: 103px;
    height: 8px;
    border-top: 4px solid #4861BC;
    margin-left: 2px;
    overflow: hidden;
    text-align: center;
    top: -6px;
}

.bl_tab_list p b {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-style: solid;
    border-width: 9px;
    border-color: #4861BC #fff #fff #fff;
    overflow: hidden;
    font-size: 0;
}

.hidden {
    display: none;
}

.bl_small_date {
    font-size: 8pt;
}

#block-message {
    margin-bottom: 0px;
    margin-top: 20px;
    height: 30px;
    font-size: 9pt
}

#block-message b {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-style: solid;
    border-width: 6px;
    border-color: #fff #fff #fff #aaaaaa;
    overflow: hidden;
    font-size: 0;
}

#bl_debug {
    bottom: 65px;
    height: 120px;
    overflow: auto;
    position: fixed;
    width: 100%;
}

#bl_debug_msg_list {
    font-size: 8pt;
    font-family: Consolas;
}

#bl_debug_msg_list label {
    width: 50px;
    display: block;
    float: left;
}

#bl_debug_msg_list li {
    padding: 2px;
    border-top: 1px solid #aaaaaa;
}

#bl_debug_msg_list li:nth-child(2n) {
    background: black;
    color: white;
    opacity: 0.3;
}
#bl_user_info {
    float: left;
}

#bl_user_info ul {
    list-style: none;
    height: 48px;
}

#bl_user_info ul li {
    float: left;
    padding: 8px;
    border-right: 1px solid #003380;
    padding-bottom: 2px;
    height: 30px;
}

#bl_user_info img {
    padding-right: 5px;
}

#bl_clock {
    padding: 14px;
    display: inline;
    float: left;
    width: 150px;
}

.dialog_txn .close_button {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 20px;
    border: none;
    background: none;
}

/*
    input validation
*/

select {
    -webkit-appearance: none;
    height: 40px;
    margin-left: -1px;
    font-family: Gotham, 'Ping Fang', 'Helvetica', 'Microsoft JhengHei';
    background-color: white;
    border-radius: 0px 0px;
    border: 1px solid #888888;
    background-image: url("../Images/Icon_Dropdown_Aarow.fw.png");
    background-repeat: no-repeat;
    background-size: 12px 6px;
    background-position: right;
    padding-right: 15px;
}

.sel_wrap {
    height: 36px;
    background:#fff url(../Images/Icon_Dropdown_Aarow.fw.png) no-repeat right 15px;
    background-size: 24px 6px;
    border:1px solid #666666;
    cursor:pointer;
    position:relative;
    _filter:alpha(opacity=0);
    display: inline-block;
    width: 250px;
}

.following {
    margin-left : -1px;
}
.sel_wrap label {
    padding-left:10px;
    padding-right: 25px;
    z-index:2;
    line-height: 40px;
    height: 40px;
    display: block;
}

.sel_wrap .select {
    width:100%; 
    height:40px; 
    line-height:40px; z-index:4;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    opacity:0;
    *margin-top:12px;
    filter:alpha(opacity=0);
    cursor:pointer;
    font-size: 16px;
}
input::-webkit-input-placeholder  {
	font-style:italic;
	color: #999999;
}

input::-moz-placeholder  {
	font-style:italic;
	color: #999999;
}

input:-ms-input-placeholder  {
	font-style:italic;
	color: #999999;
}

input {
    height: 28px;
    width: 310px;
    font-size: 10.5pt;
    font-family: Gotham, 'Ping Fang', 'Helvetica';
    font-weight: 200;
    padding: 4px;
    border-radius: 0px 0px;
    border: 1px solid #888888;
}

input:focus {
    border: 1px solid #26a0da;
    box-shadow: 0px 0px 6px #26a0da;
    height:28px;
}

.sel_wrap_focus {
    border: 1px solid #26a0da;
    box-shadow: 0px 0px 6px #26a0da;
}

label.error {
    color: #de4646;
    height: 24px;
    line-height: 24px;
    font-style: italic;
    font-weight: normal;
}

label {
    text-align: left;
}

#login_1 p label {
    width: 360px;
}

input.required {
    /* background-color: #f0f8fc; */
    background-color: #f0f8fc;
    border: 1px solid #666666;
}

input.required:focus {
    box-shadow: 0px 0px 6px #26a0da;
    border: 1px solid #26a0da;
    /*
    box-shadow: 0px 0px 6px #26a0da;
    border: 1px solid #26a0da;
   */
}

input.error:focus {
    box-shadow: 0px 0px 6px #de4646;
    border: 1px solid #de4646;
}

input.error {
    border: 1px solid #de4646;
    background-color: #fff2f2;
}

input[type="button"] {
    /* background-image: linear-gradient(to bottom, #005C99, #0075C4); *//* Firefox */ 
    background-color: #0075C4;
    height: 48px;
    color: white;
    border: 1px solid #005C99;
    width: 360px;
    padding: 5px;
}

button {
    background-color: #0075C4;
    height: 46px;
    color: white;
    border: 1px solid #005C99;
    width: 320px;
    padding: 4px;
    font-family: Gotham, 'Ping Fang', 'Heiti SC', 'Helvetica', 'Source Han Sans CN';
    font-size: 9pt;
}

#bl_chatting_send {
    padding: 5px;
    height: 38px;
    font-size: 9pt;
    width: 60px;
}

#bl_chatting_control {
    margin-top: 72px;
}

#bl_chatting_content {
    width: 222px;
    float: left;
}

#login_1 p {
    height: 72px;
}

.bl_control {
    margin-top: 10px;
    height: auto;
}

.bl_control_area {
    position: fixed;
    bottom: 0;
    height: 55px;
    background-color: oldLace;
    width: 100%;
    text-align: right;
    margin-left: -20px;
    border-top: 1px solid #eeeeee;
    opacity: 0.98;
}

.bl_details_aarow {
    margin-top: -5px; margin-left: 10px; position: absolute;
}

.bl_details_content {
    padding: 10px; border: 1px solid rgb(136, 136, 136); border-image: none; margin-top: 10px; display: inline-block; background-color: oldlace;
}

.bl_details_aarow img {
    width: 16px; height: 16px;
}

.bl_details {
    width: 100%;
}

.bl_control_area div {
    padding-right: 600px;
}

.bl_control_area.mobile div {
    padding-right: 300px;
}

.bl_control_area button {
    height: 42px;
    width: 180px;
    margin-left: 20px;
    margin-top: 5px;
}

.bl_close_button {
    color: #888888;
    background-color: ghostWhite;
}

.bl_control_area input:last-child {
    
}

/* Block UI */
.blockUI {
    
}

.loading {
    height: 20px;
    width: 20px;
}
#bl_user_toolbar {
    float: right;
}

#bl_user_plugins {
    list-style: none;
    display: inline-block;
}

#bl_user_toolbar ul li {
    display: inline-block;
    padding: 9px;
}

#bl_user_toolbar ul li img {
     width: 24px;
}

#bl_user_toolbar ul li:hover {
    cursor: pointer;
    background-color: #f7f5e1;
    color: #222222;
}

#bl_user_toolbar .actived {
    background-color: #f7f5e1;
    color: #222222;
}

.bl_dialog_title:hover {
    cursor: move;
}

.bl_dialog_title img:hover {
    cursor: pointer;
}

.bl_dialog {
    position: absolute;
    background-color: #f7f5e1;
    box-shadow: 3px 3px 8px #888888;
    border: 1px solid #aaaaaa;
    border-top: 0px;
    padding-bottom: 10px;
    opacity: 0.9;
}

.seperated {
    border-top: 1px solid #aaaaaa;
}

.bl_dialog_title {
    color: #222222;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.bl_dialog_content {
    text-align: center;
    color: #444444;
}

.bl_dialog_content .loading {
    width: 16px;
    height: 16px;
}

.available_tools ul li img:hover {
    cursor: pointer;
}

.available_system ul li:hover {
    cursor: pointer;
}

.bl_menu {
    cursor: pointer;
}
/* Menu Style */

#bl_user_menu {
  float: left;
  margin-left: -11px;
  padding-top: 12px;
}

/* remove all the bullets, borders and padding from the default list styling */
#bl_user_menu ul { 
  padding: 0; 
  margin: 0; 
} 

#bl_user_menu ul ul { 
  list-style: none;
} 

/* float the list to make it horizontal and a relative positon so that you can control the dropdown#bl_user_menu positon */
#bl_user_menu li {
  float:left; 
  background-image: url(../Images/Sep.png);
  background-repeat: no-repeat;
  position:relative; 
  font-weight: 100;
} 

#bl_user_menu li ul li {

}

#bl_user_menu li ul li  ul li{

}

#bl_user_menu a:visited {
  display:block;
}

#bl_user_menu a {
  text-decoration: none; 
  font-size: 9.5pt;
  color: #bbbbbb;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -11px;
  display: block;
}
  
/* style the second level background */
#bl_user_menu ul ul a.drop, #bl_user_menu ul ul a.drop:visited {
  color: #f7f5e1;
}

#bl_user_menu ul ul a:visited {
    color: #b2ab9b;
}

/* style the second level hover */
#bl_user_menu ul ul a.drop:hover{ 
  background:#f7f5e1 url(../img/drop.gif) bottom right no-repeat;
}

/* style the third level background */
#bl_user_menu ul ul ul a { 
	color: #444444;
}

/* style the third level hover */
#bl_user_menu ul ul ul a:hover { 
    background:#b2ab9b; 
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
#bl_user_menu ul ul { 
    visibility:hidden; 
    position:absolute; 
    height:0; 
    top: 30px;
    left: 0;
	color: #444444;
} 

/* position the third level flyout#bl_user_menu */
#bl_user_menu ul ul ul { 
    left:230px; 
    top:0; 
}

/* position the third level flyout#bl_user_menu for a left flyout */
#bl_user_menu ul ul ul.left { 
    left:-180px; 
} 
  
/* style the second level links */
#bl_user_menu ul ul a, #bl_user_menu ul ul a:visited { 
    /* background:#f7f5e1;  */
	background:#f7f5e1;
    color:#000;  
    line-height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    width: 200px;
	color: #444444;
    height: 40px;
}

#bl_user_menu :hover > a b {
    border-color: #b2ab9b #b2ab9b #b2ab9b #444444;
}

#bl_user_menu ul ul :hover > a {
  color:#FFFFFF;
  background:#b2ab9b;
  border-top: none;
  margin-top: 0px;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b2ab9b',endColorstr='#b2ab9b'); /* IE8,9 */
}

#bl_user_menu :hover > a { 
  color: #444444;
  /* color:#FFFFFF; */
  background:#b2ab9b;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#C9C1B8',endColorstr='#f7f5e1'); /* IE8,9 */
  border-top: 2px solid #888888;
  background-image: -moz-linear-gradient(top, #C9C1B8, #f7f5e1); /* Firefox */
  background-image: linear-gradient(to bottom, white, #f7f5e1); /* IE10, IE11 */
  background-image: -webkit-linear-gradient(top, white, #f7f5e1); /* Safari Chrome */
} 
  
/* make the second level visible when hover on first level list OR link http://www.111cn.net  */
#bl_user_menu ul li:hover ul, 
#bl_user_menu ul a:hover ul { 
    visibility:visible; 
} 
/* keep the third level hidden when you hover on first level list OR link */
#bl_user_menu ul :hover ul ul { 
    visibility:hidden; 
}

/* keep the third level hidden when you hover on first level list OR link */
#bl_user_menu ul :hover ul :hover > ul ul { 
    visibility:hidden; 
}

/* make the third level visible when you hover over second level list OR link */
#bl_user_menu ul :hover ul :hover ul { 
    visibility:visible; 
}

/* keep the third level hidden when you hover on first level list OR link */
#bl_user_menu ul :hover ul :hover ul :hover ul { 
    visibility:visible; 
}

#bl_user_menu span {
    padding: 0px;
}

#bl_user_menu ul ul li b {
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #f7f5e1 #f7f5e1 #f7f5e1 #444444;
    overflow: hidden;
    font-size: 0;
}

#bl_user_menu img {
    height: 16px;
    width: 16px;
    padding-right: 10px;
}

.bl_crop_info {
    font-size: 8pt;
}

hr {
    border: 0.5px solid #cccccc;
}

.blockErrorImage {
    display: inline-block;
}

.blockErrorMessage {
    display: inline-block;
    font-size: 9pt;
    text-align: left;
    padding-left: 20pt;
    padding-bottom: 20px;
}

.blockErrorMessage h1 {
    font-size: 10pt;
}


.blockErrorMessage  {

}

.blockError img {
    vertical-align: auto;
}

.bl_status_bar img {
    height: 23px;
    width: 32px;
}

.bl_status_bar div {
    
}

.bl_status_img {
    height: 50px;
    width: 40px;
    float: left;
    display: inline-block;
}

.bl_status_message {
}

.bl_status_source {
    font-weight: 800;
}

.bl_status_info {
    float: left;
    display: block;
    text-align: left;
}

.bl_control_area .bl_status_bar div {
    padding-right: 10px;
}

.bl_control_area .bl_status_bar .bl_status_img {
    padding-top: 15px;
    padding-left: 10px;
}

.bl_control_area .bl_status_bar .bl_status_info {
    padding-top: 15px;
}

.bl_status_source {
    display: block;
}

.bl_status_errcode, .bl_status_message{
    display: inline;
}

#notification_summary {
    display: none;
    list-style: none;
}
